ul.tasks {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tasks input.status {
	vertical-align: middle;
}
ul.tasks input.body,
form.newTask input.body {
	padding: 3px 0;
	width: 560px;
	border: none;
	border-bottom: 1px solid #ddd;
}
ul.tasks input.body:focus,
form.newTask input.body:focus {
	background: #f9f9f9;
	border-bottom-color: #c0c0c0;
}
ul.tasks input.body.done {
	font-style: italic;
	text-decoration: line-through;
}
ul.tasks a.delete {
	vertical-align: middle;
	color: #ddd;
	font-size: 20px;
	text-decoration: none;
}
ul.tasks a.delete:hover {
	color: gray;
}
form.newTask {
	padding-left: 25px;
}
form.newTask .submit {
	display: none;
	vertical-align: bottom;
	margin-left: -4px;
	padding: 1px 2px;
	color: #666;
	background: #f9f9f9;
	background: #f0f0f0;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}
form.newTask input.body {
	color: #aaa;
}
form.newTask input.body:focus {
	color: #3C3C3C;
}
form.newTask input.body:focus + .submit {
	display: inline;
}

ul.tasks input.deadline,
form.newTask input.deadline {
	font-size: 11px;
	padding: 2px;
	width: 10ex;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 3px;
}
ul.tasks input.deadline:focus,
form.newTask input.deadline:focus {
	color: #000;
	background: #fff;
}

#tasks {
	overflow: auto;
}

#tagsList {
	float: left;
	list-style: none;
	margin-top: 4px;
	margin-right: 50px;
	padding: 0;
	width: 130px;
}
#tagsList li {
	margin-bottom: 6px;
	padding-left: 6px;
	border-radius: 4px;
	cursor: pointer;
}
#tagsList li .name {
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100px;
	color: #0066CC;
}
#tagsList li:hover .name {
	color: #0099ff;
}
#tagsList .count {
	float: right;
	padding: 3px 6px;
	font-size: 0.8em;
	color: #999;
	background: #eee;
	border-radius: 4px;
}
#tagsList li.active {
	overflow: hidden;
	background: #0066CC;
}
#tagsList li.active .name {
	color: white;
}
#tagsList li.active .count {
	color: white;
	background: #0099ff;
	border-radius: 0px;
}

#timeline {
	overflow: hidden;
}
#timeline ul {
	margin: 0 0 40px;
	padding: 0;
	height: 50px;
	/*line-height: 50px;*/
}
#timeline ul:before {
	content: '';
	display: inline-block;
	height: 60px;
}
#timeline li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	margin-right: 6px;
	width: 16px;
	height: 100%;
	font-size: 12px;
	cursor: pointer;
}
#timeline li .total {
	position: relative;
	height: 100%;
	background: #f3f3f3;
}
#timeline li .fill {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ccc;
}
#timeline li:hover .fill {
	background: #ddd;
}
#timeline li.active .fill {
	background: #0066CC;
}

#timeline li.weekend .total {
	background: #fcfcfc;
}
#timeline li.weekend .day {
	color: #ccc;
	font-weight: bold;
}
#timeline li.weekend .fill {
	background: #ddd;
}

.timelineMonth {
	width: 660px;
	text-align: center;
}
.timelineMonth .prevMonth,
.timelineMonth .nextMonth {
	padding: 2px 3px;
	font-weight: bold;
	color: #0066CC;
	cursor: pointer;
}
.timelineMonth .prevMonth:hover,
.timelineMonth .nextMonth:hover {
	background: #f3f3f3;
	border-radius: 3px;
}
.timelineMonth .currentMonth:hover {
	color: #0066CC;
	cursor: pointer;
}